{% extends "base.html" %}

{% block title %}Ajouter un Revenu{% endblock %}

{% block content %}
<h1 class="text-xl font-bold mb-4">Ajouter un Revenu</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-4">
        <label for="description" class="block text-sm font-medium text-gray-700">Nom</label>
        {{ form.description(class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm") }}
    </div>
    <div class="mb-4">
        <label for="amount" class="block text-sm font-medium text-gray-700">Montant</label>
        {{ form.amount(class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm") }}
    </div>
    <div class="mb-4">
        <label for="date" class="block text-sm font-medium text-gray-700">Date</label>
        {{ form.date(class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm") }}
    </div>
    <div class="mb-4">
        <label for="person_id" class="block text-sm font-medium text-gray-700">Personne</label>
        {{ form.person_id(class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm") }}
    </div>
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Ajouter</button>
</form>
{% endblock %}
